.boldText {
    font-weight: 300px;
    font-size: 32px;
    color:darkblue;
}

.block {
    border-radius: 12px;
    width: 75px;
    height: 75px;
    background-color: black;
    position: relative;
    margin-bottom: 7%;
}

.gameRender {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gameArea {
    position: fixed;
    width: 100%;
    height: 50%;
    top: 25%;
    display: flex;
    justify-content: center;
    visibility: hidden;
}

.column {
    position: relative;
    float: left;
    display: block;
    width: calc(100% / 7);
    height: 100%;
}

.centeredText {
    text-align: center;
    font-size: 28px;
    color:black;
}

.centered {
    margin: auto;
    width: max-content;
    position: relative;
}

.inputBlock {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 1%;
}

.backgroundImg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.selectionArea {
    width: 100%;
    height: 15%;
    position: fixed;
    left: 0%;
    top: 12%;
}

.selectionButtons {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    float: left;
    color: rgb(118, 103, 4);
    width: 20%;
    height: 15%;
    display: block;
    background-color: black;
    border-color: gray;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 300px;
    font-size: 32px;
}

.buttonSelected {
    float: left;
    color: rgb(118, 103, 4);
    width: 20%;
    height: 15%;
    display: block;
    background-color: white;
    border-color: gray;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 300px;
    font-size: 32px;
}